div{
    width: 100%;
    height: 700px;
    background-image: url(../../assets/background/background1.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 5rem;
}

#card-background{
    width: 100%;
    background-color: #16233D;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 12rem;

}
